




<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Ajouter Universiter</h4>
                      <p class="card-category">Complete les champs de l'universite</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="Reservation.prix" matInput placeholder="Prix de reservation" >
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="Reservation.duree" matInput placeholder="Duree de Reservation">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="Reservation.dateDebut" matInput placeholder="Date debut du Reservation" >
                                  </mat-form-field>
                              </div>
                          </div>
                           
                          
                          <button (click)="ajout()" mat-raised-button type="submit" class="btn btn-danger pull-right">Ajouter universite</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>












<input [(ngModel)]="searchedReservationId" type="number" placeholder="Rechercher par ID">
<button (click)="getReservationDetails()">Rechercher</button>






<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit universite</h4>
                      <p class="card-category">Complete les champs</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="Reservation.prix"  matInput placeholder="prix de reservaton" >
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="Reservation.duree"  matInput placeholder="duree de reservation">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input [(ngModel)]="Reservation.dateDebut"  matInput placeholder="date debut" >
                                  </mat-form-field>
                              </div>
                         
                          </div>
                          <button (click)="updateReservation()" mat-raised-button type="submit" class="btn btn-danger pull-right">Update Reservation</button>
                          <div class="clearfix"></div>
                          <button  (click)="deleteReservation()"  mat-raised-button type="submit" class="btn btn-danger pull-right">Effacer Reservation</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
